# Byte-compiled / optimized / DLL files
*.py[cod]

# Unit test / coverage reports
.coverage

# Django stuff:
*.log

# dotenv
.env
.env.*

# Mac OS Desktop Store
*/.DS_Store
.DS_Store

# NodeJS modules
node_modules/

# bower components
bucketlist/frontend/static/frontend/static/bower_components

# staticfiles
bucketlist/frontend/staticfiles
