<div class="col-sm-6 forms-right-icons">
    <div class="row">
        <div class="col-sm-2 icon"><i class="fa fa-eye"></i></div>
        <div class="col-sm-10">
            <h3>Easy to Use</h3>
            <p>Simple and elegant design make it easy to get comfortable with the app.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
        <div class="col-sm-10">
            <h3>Consistent UI</h3>
            <p>Consistent design sure to delight users.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 icon"><i class="fa fa-magic"></i></div>
        <div class="col-sm-10">
            <h3>Fast Response</h3>
            <p>
                The combination of Django REST Framework and ReactJS makes the application 
                blazingly fast.
            </p>
        </div>
    </div>
</div>